* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: outfit, roboto, archivo, hanken;
}

body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

}

h1 {
  white-space: nowrap;
  font-size: 2rem;
  color: aqua;
  text-align: center;
  margin: 2rem 0;
}
.wrapper {
  width: 100vw;
  display: flex;
  gap: 2rem;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}

.p-container {
  font-size: 20px;
  color: aqua;
  border: 1px solid aqua;
  margin-bottom: 3rem;
  padding: 0 2rem;
  border-radius: 10px;
}

.p-container p {
  margin: 10px 0;
}

span {
  border-radius: 50%;
  border: 2px solid white;
  padding: 20px;
  font-size: 4rem;
  cursor: pointer;

}

span:hover {
  background-color: aqua;
  transition: all .3s linear;
}

span:active {
  transform: scale(1.05);
  transition: transform .2s ease-out;
}
button {
  font-family: roboto, archivo;
  font-size: 1.3rem;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  background-color: rgb(6, 190, 83);
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}
button:active {
  color:  rgb(190, 6, 6);
  background-color: aqua;
  transition: all .4s ease-in-out;
  transform: scale(1.05);
  transform-origin: top left;
}